<%- include('head') %>
  <aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="<%= user.avatar %>" width="50px"
        alt="User Image" style="border-radius: 50%; width: 50px; height: 50px;">
      <div>
        <p class="app-sidebar__user-name"><b>
            <%= user.name %>
          </b></p>
        <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
      </div>
    </div>
    <hr>
    <ul class="app-menu">

      <li><a class="app-menu__item " href="/home"><i class='app-menu__icon bx bx-tachometer'></i><span
            class="app-menu__label">Bảng điều
            khiển</span></a></li>
      <li><a class="app-menu__item" href="/staff"><i class='app-menu__icon bx bx-id-card'></i> <span
            class="app-menu__label">Quản lý nhân
            viên</span></a></li>
      <li><a class="app-menu__item" href="/account/listAccount"><i class='app-menu__icon bx bx-user-voice'></i><span
            class="app-menu__label">Quản lý khách
            hàng</span></a></li>
      <li><a class="app-menu__item " href="/products"><i class='app-menu__icon bx bx-purchase-tag-alt'></i><span
            class="app-menu__label">Quản lý
            sản phẩm</span></a>
      </li>
      <li><a class="app-menu__item" href="/order"><i class='app-menu__icon bx bx-task'></i><span
            class="app-menu__label">Quản lý đơn hàng</span></a></li>
      <li><a class="app-menu__item active" href="/internal"><i class='app-menu__icon bx bx-run'></i><span
            class="app-menu__label">Quản lý nội bộ
          </span></a></li>
      <li><a class="app-menu__item" href="/salary"><i class='app-menu__icon bx bx-dollar'></i><span
            class="app-menu__label">Bảng kê
            lương</span></a></li>
      <li><a class="app-menu__item " href="/voucher"><i class='app-menu__icon fa fa-ticket'></i><span
            class="app-menu__label">Quản lí Voucher</span></a></li>
      <li><a class="app-menu__item" href="/statistical/all"><i class='app-menu__icon bx bx-pie-chart-alt-2'></i><span
            class="app-menu__label">Báo cáo
            doanh thu</span></a>
      </li>
    </ul>
  </aside>
    <main class="app-content">
      <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item">Quản lý nội bộ</li>
          <li class="breadcrumb-item"><a href="#">Tạo mới</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">Tạo mới danh sách nội bộ</h3>
            <div class="tile-body">
              <div class="row element-button">
                <div class="col-sm-2">
                  
                </div>
  
              </div>

            </div>
            <form class="row" method="post" action="/internal">
              <div class="form-group col-md-4">
                <label class="control-label">Họ và tên</label>
                <select class="form-control" name="StaffId" id="employeeSelect" onchange="updateInfo()" required>
                  <option value="" data-gender="" data-position="">-- Chọn nhân viên --</option>
                  <% staffs.forEach(function(staff) { %>
                    <option value="<%= staff.id %>" data-gender="<%= staff.gender %>"
                      data-position="<%= staff.position %>">
                      <%= staff.name %>
                    </option>
                    <% }); %>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Ngày sinh</label>
                <input class="form-control" type="text" id="dateOfBirth" readonly>
              </div>
              <div class="form-group col-md-4">
                <label for="exampleSelect1" class="control-label">Chức vụ</label>
                <input class="form-control" type="text" id="positionInput" readonly>

              </div>
              <div class="form-group col-md-4">
                <label class="control-label">Nhập lý do</label>
                <textarea class="form-control" name="reason" rows="4" required></textarea>
              </div>
              <div class="form-group col-md-4">
                <label for="exampleSelect1" class="control-label">Tình trạng</label>
                <select class="form-control" name="status" id="exampleSelect1" required>
                  <option value="">-- Chọn tình trạng --</option>
                  <option value="0">Sa thải</option>
                  <option value="1">Khóa tài khoản</option>
                </select>
              </div>

              <div class="tile-footer">
              </div>
          </div>
          <button class="btn btn-save" type="submit">Lưu lại</button>
          <a class="btn btn-cancel" href="/internal">Hủy bỏ</a>
        </form>
        </div>
  </main>

  <!--
  MODAL
-->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <div class="row">
            <div class="form-group  col-md-12">
              <span class="thong-tin-thanh-toan">
                <h5>Tạo trình trạng mới</h5>
              </span>
            </div>
            <div class="form-group col-md-12">
              <label class="control-label">Nhập tình trạng</label>
              <input class="form-control" type="text" required>
            </div>
          </div>
          <BR>
          <button class="btn btn-save" type="button">Lưu lại</button>
          <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
          <BR>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!--
MODAL
-->
  <script>
    function updateInfo() {
      var select = document.getElementById("employeeSelect");
      var dateOfBirthInput = document.getElementById("dateOfBirth");
      var positionInput = document.getElementById("positionInput");

      // Get the selected option
      var selectedOption = select.options[select.selectedIndex];

      // Get the attributes from the selected option
      var rawDateOfBirth = selectedOption.getAttribute("data-dateOfBirth");
      var position = selectedOption.getAttribute("data-position");

      // Chuyển đổi định dạng ngày
      var formattedDateOfBirth = formatDate(rawDateOfBirth);

      // Update the input values
      dateOfBirthInput.value = formattedDateOfBirth;
      positionInput.value = position;
    }

    function formatDate(rawDate) {
      var date = new Date(rawDate);
      var day = date.getDate();
      var month = date.getMonth() + 1;
      var year = date.getFullYear();

      // Đảm bảo rằng ngày và tháng có dạng "dd" và "mm"
      day = day < 10 ? "0" + day : day;
      month = month < 10 ? "0" + month : month;

      return day + "/" + month + "/" + year; // Định dạng ngày để hiển thị trong input text
    }

    // Attach the updateInfo function to the change event of the dropdown
    document.getElementById("employeeSelect").addEventListener("change", updateInfo);

  </script>
  <!-- Essential javascripts for application to work-->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <!-- The javascript plugin to display page loading on top-->
  <script src="js/plugins/pace.min.js"></script>

  </body>

  </html>