<%- include('head') %>
  <%- include('aside') %>

    <main class="app-content">
      <div class="row">
        <div class="col-md-12">
          <div class="app-title">
            <ul class="app-breadcrumb breadcrumb">
              <li class="breadcrumb-item"><a href="#"><b>Bảng điều khiển</b></a></li>
            </ul>
            <div id="clock"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <!--Left-->
        <div class="col-md-12 col-lg-6">
          <div class="row">
            <!-- col-6 -->
            <div class="col-md-6">
              <div class="widget-small primary coloured-icon"><i class='icon bx bxs-user-account fa-3x'
                  style="height: 100px;"></i>
                <div class="info">
                  <h4>Tổng khách hàng</h4>
                  <p><b>
                      <%= totalAccount %> khách hàng
                    </b></p>
                  <p class="info-tong">Tổng số khách hàng quản được quản lý.</p>
                </div>
              </div>
            </div>
            <!-- col-6 -->
            <div class="col-md-6">
              <div class="widget-small info coloured-icon"><i class='icon bx bxs-data fa-3x' style="height: 100px;"></i>
                <div class="info">
                  <h4>Tổng sản phẩm</h4>
                  <p><b>
                      <%= totalProduct %> sản phẩm
                    </b></p>
                  <p class="info-tong">Tổng số sản phẩm quản được quản lý.</p>
                </div>
              </div>
            </div>
            <!-- col-6 -->
            <div class="col-md-6">
              <div class="widget-small warning coloured-icon"><i class='icon bx bxs-shopping-bags fa-3x'
                  style="height: 100px;"></i>
                <div class="info">
                  <h4>Tổng đơn hàng</h4>
                  <p><b>
                      <%= totalOrder %> đơn hàng
                    </b></p>
                  <p class="info-tong">Tổng số đơn hàng quản được quản lý.</p>
                </div>
              </div>
            </div>
            <!-- col-6 -->
            <div class="col-md-6">
              <div class="widget-small danger coloured-icon"><i class='icon bx bxs-group fa-3x'
                  style="height: 100px;"></i>
                <div class="info">
                  <h4>Số lượng nhân viên</h4>
                  <p><b>
                      <%= totalStaff %> nhân viên
                    </b></p>
                  <p class="info-tong">Tổng số nhân viên.</p>
                </div>
              </div>
            </div>
            <!-- col-12 -->
            <div class="col-md-12">
              <div class="tile">
                <h3 class="tile-title">Tình trạng đơn hàng</h3>
                <div>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>ID đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% listOrder.forEach((order)=> { %>
                        <tr>
                          <td>
                            <%= order.id %>
                          </td>
                          <td>
                            <%= order.account.name %>
                          </td> <!-- Replace with the actual property you want to display -->
                          <td>
                            <%= new Intl.NumberFormat('en-US').format(order.total) %> VNĐ
                          </td>
                          <td>
                            <span
                              class="badge <%= order.statusOrder === 0 ? 'bg-info' : order.statusOrder === 1 ? 'bg-warning' : order.statusOrder === 2 ? 'bg-success' : 'bg-danger' %>">
                              <%= order.statusOrder===0 ? 'Chờ xử lý' : order.statusOrder===1 ? 'Đang vận chuyển' :
                                order.statusOrder===2 ? 'Đã nhận' : 'Đã hủy' %>
                            </span>

                          </td>
                        </tr>
                        <% }) %>


                    </tbody>
                  </table>
                </div>
                <!-- / div trống-->
              </div>
            </div>
            <!-- / col-12 -->
            <!-- col-12 -->
            <div class="col-md-12">
              <div class="tile">
                <h3 class="tile-title">Khách hàng mới</h3>
                <div>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Tên khách hàng</th>
                        <th>Ngày sinh</th>
                        <th>Số điện thoại</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% listAccount.forEach(customer=> { %>
                        <tr>
                          <td>
                            <%= customer.id %>
                          </td>
                          <td>
                            <%= customer.name %>
                          </td>
                          <td>
                          <td>
                            <% if (customer.dateOfBirth) { %>
                              <% const date=new Date(customer.dateOfBirth); %>
                                <%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %>
                                      <% } else { %>
                                        Ngày sinh không khả dụng
                                        <% } %>
                          </td>

                          </td>
                          <td><span class="tag tag-success">
                              <%= customer.phone %>
                            </span></td>
                        </tr>
                        <% }); %>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            <!-- / col-12 -->
          </div>
        </div>
        <!--END left-->
        <!--Right-->
        <div class="col-md-12 col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <div class="tile">
                <h3 class="tile-title">Thống kê doanh thu</h3>
                <div class="embed-responsive embed-responsive-16by9">
                  <canvas class="embed-responsive-item" id="myChart" style="width:100%;max-width:600px"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="tile">
                <h3 class="tile-title">Thống kê đơn theo hàng tháng</h3>
                <div class="embed-responsive embed-responsive-16by9">
                  <canvas class="embed-responsive-item" id="myChartb" style="width:100%;max-width:600px"></canvas>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--END right-->
      </div>



    </main>
    <script src="js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/popper.min.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <!--===============================================================================================-->
    <script src="js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    <!--===============================================================================================-->
    <script src="js/plugins/pace.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script>
      // Đặt hàm formatDate dưới dạng biến global
      window.formatDate = function (dateString) {
        const date = new Date(dateString);
        const day = date.getDate().toString().padStart(2, '0');
        const month = (date.getMonth() + 1).toString().padStart(2, '0');
        const year = date.getFullYear();
        return `${day}/${month}/${year}`;
      };
    </script>
    <script type="text/javascript">


      async function fetchDataAndRenderChart() {
        try {
          // Gọi API để lấy dữ liệu từ server
          const response = await fetch('http://localhost:3000/home/RevenueInMonth');
          const data = await response.json();
          const labels = [];
          const revenueData =[];
          data.data.forEach(item => {
            labels.push(item.month);
            revenueData.push(item.revenue);
          });

          const intLabels = labels.map(month => parseInt(month));
          updateChart(intLabels, revenueData);
        } catch (error) {
          console.error('Error fetching data from API:', error);
        }
      }

      // Hàm để cập nhật biểu đồ với dữ liệu mới
      function updateChart(labels, data) {
        const myChart = new Chart("myChart", {
          type: "line",
          data: {
            labels: labels,
            datasets: [{
              label: "Doanh thu thực tế",
              data: data,
              borderColor: "green",
              fill: false
            }]
          },
          options: {
            legend: { display: true }
          }
        });
      }

      // Gọi hàm để bắt đầu quá trình
      fetchDataAndRenderChart();








      async function fetchDataAndRenderBarChart() {
        try {
          // Gọi API để lấy dữ liệu từ server
          const response = await fetch('http://localhost:3000/home/OrderInMonth');
          const data = await response.json();

          // Trích xuất dữ liệu từ API response (phụ thuộc vào cấu trúc của API)
          const xValues = [];
          const yValues = [];
          const zValues = [];
          const aValues = [];
          const cancelValues = [];

          data.data.forEach(item => {
            xValues.push(item.month);
            yValues.push(item.totalOrder.orderCountByStatus);
            zValues.push(item.totalOrder.orderCountByStatus1);
            aValues.push(item.totalOrder.orderCountByStatus2);
            cancelValues.push(item.totalOrder.orderCountByStatus3);

          });

          // Cập nhật biểu đồ với dữ liệu mới
          updateBarChart(xValues, yValues, zValues, aValues, cancelValues);
        } catch (error) {
          console.error('Lỗi khi lấy dữ liệu từ API:', error);
        }
      }
      // Hàm để cập nhật biểu đồ cột với dữ liệu mới
      function updateBarChart(xValues, yValues, zValues, aValues, cancelValues) {
        new Chart("myChartb", {
          type: "bar",
          data: {
            labels: xValues,
            datasets: [
              {
                label: "Chờ xác nhận",
                backgroundColor: "purple",
                data: yValues,
              },
              {
                label: "Đang vận chuyển",
                backgroundColor: "yellow",
                data: zValues,
              },
              {
                label: "Đã nhận",
                backgroundColor: "green",
                data: aValues,
              },
              {
                label: "Huỷ",
                backgroundColor: "red",
                data: cancelValues,
              },
            ],
          },
          options: {
            legend: { display: true }
          },
        });
      }

      // Gọi hàm để bắt đầu quá trình
      fetchDataAndRenderBarChart();


    </script>
    <script type="text/javascript">
      //Thời Gian
      function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
          dd = '0' + dd
        }
        if (mm < 10) {
          mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
          '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
          if (i < 10) {
            i = "0" + i;
          }
          return i;
        }
      }
    </script>
    </body>

    </html>