<%- include('head') %>


    <!-- Aside -->
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar rounded-circle" src="/images/hay.jpg" width="50px" alt="User Image">
            <div>
                <p class="app-sidebar__user-name"><b>Admin</b></p>
                <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
            </div>
        </div>
        <hr>
        <ul class="app-menu">
            <li><a class="app-menu__item haha" href="phan-mem-ban-hang.html"><i
                        class='app-menu__icon fa fa-shopping-cart'></i>
                    <span class="app-menu__label">Xioami VN</span></a></li>
            <li><a class="app-menu__item " href="index.html"><i class='app-menu__icon bx bx-tachometer'></i><span
                        class="app-menu__label">Bảng điều khiển</span></a></li>
            <li><a class="app-menu__item " href="table-data-table.html"><i class='app-menu__icon bx bx-id-card'></i>
                    <span class="app-menu__label">Quản lý nhân viên</span></a></li>
            <li><a class="app-menu__item" href="#"><i class='app-menu__icon bx bx-user-voice'></i><span
                        class="app-menu__label">Quản lý khách hàng</span></a></li>
            <li><a class="app-menu__item " href="/products"><i class='app-menu__icon bx bx-purchase-tag-alt'></i><span
                        class="app-menu__label">Quản lý sản
                        phẩm</span></a>
            </li>
            <li><a class="app-menu__item active" href="/order"><i class='app-menu__icon bx bx-task'></i><span
                        class="app-menu__label">Quản lý đơn hàng</span></a></li>
            <li><a class="app-menu__item  " href="table-data-banned.html"><i class='app-menu__icon bx bx-run'></i><span
                        class="app-menu__label">Quản lý nội bộ
                    </span></a></li>
            <li><a class="app-menu__item" href="table-data-money.html"><i class='app-menu__icon bx bx-dollar'></i><span
                        class="app-menu__label">Bảng kê lương</span></a></li>
            <li><a class="app-menu__item" href="quan-ly-bao-cao.html"><i
                        class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo doanh
                        thu</span></a>
            </li>

        </ul>
    </aside>
    <!-- Main -->
    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href="#"><b>Danh sách đơn hàng</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">
                                <% if(status===-1){%>
                                    <a class="btn btn-delete btn-sm active" href="/order" type="button"
                                        style="color:white; text-decoration: underline;" title="Thêm">
                                        Tất cả</a>
                                    <%}else{%>
                                        <a class="btn btn-delete btn-sm active" href="/order" type="button"
                                            style="color:white;" title="Thêm">
                                            Tất cả</a>
                                        <% }%>
                            </div>
                            <div class="col-sm-2">
                                <% if(status===0){%>
                                    <a class="btn btn-info btn-sm active" type="button" href="/order/choxacnhan"
                                        title="Nhập" style="color:white;text-decoration: underline ;"> Chờ
                                        xác nhận</a>
                                    <%}else{%>
                                        <a class="btn btn-info btn-sm active" type="button" href="/order/choxacnhan"
                                            title="Nhập" style="color:white;"> Chờ
                                            xác nhận</a>
                                        <% }%>
                            </div>
                            <div class="col-sm-2">
                                <% if(status===1){%>
                                    <a class="btn btn-warning btn-sm " type="button" href="/order/danggiaohang"
                                        title="Đang giao hàng" style="color:white;text-decoration: underline ;"> Đang
                                        giao
                                        hàng</a>
                                    <%}else{%>
                                        <a class="btn btn-warning btn-sm " type="button" href="/order/danggiaohang"
                                            title="Đang giao hàng" style="color:white;">
                                            Đang giao
                                            hàng</a>
                                        <% }%>
                            </div>
                            <div class="col-sm-2">
                                <% if(status===2){%>
                                    <a class="btn btn-success btn-sm " type="button" href="/order/dahoanthanh"
                                        style="color:white;text-decoration: underline ;" title="Đã oàn thành"> Đã hoàn
                                        thành</a>
                                    <%}else{%>
                                        <a class="btn btn-success btn-sm " type="button" href="/order/dahoanthanh"
                                            title="Đã oàn thành"> Đã hoàn thành</a>
                                        <% }%>
                            </div>
                            <div class="col-sm-2">
                                <% if(status===3){%>
                                    <a class="btn btn-danger btn-sm " type="button" href="/order/dahuy" title="Đã hủy"
                                        style="color:white;text-decoration: underline ;">
                                        Đã hủy</a>
                                    <%}else{%>
                                        <a class="btn btn-danger btn-sm " type="button" href="/order/dahuy"
                                            title="Đã hủy">
                                            Đã hủy</a>
                                        <% }%>
                            </div>

                        </div>
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th>ID đơn hàng</th>
                                    <th>Khách hàng</th>
                                    <th>Đơn hàng</th>
                                    <th>Tổng tiền</th>
                                    <th>Tình trạng</th>
                                    <%if(status===0){%>
                                        <th>Tính năng</th>
                                        <%}%>

                                </tr>
                            </thead>
                            <tbody>
                                <% if(data){ data.map(function(product){%>
                                    <tr>
                                        <td data-toggle="modal" data-target="#chitietorder<%=product.order.id%>">
                                            <%=product.order.id%>
                                        </td>
                                        <td data-toggle="modal" data-target="#chitietorder<%=product.order.id%>">
                                            <%=product.order.Account.name%>
                                        </td>
                                        <td data-toggle="modal" data-target="#chitietorder<%=product.order.id%>">
                                            <% product.listproduct.map(function(product){%>
                                                <span>
                                                    <%=product.name%>
                                                </span>

                                                <%})%>
                                        </td>
                                        <td data-toggle="modal" data-target="#chitietorder<%=product.order.id%>">
                                            <%=product.order.total%>
                                        </td>

                                        <td data-toggle="modal" data-target="#chitietorder<%=product.order.id%>">
                                            <%if (product.order.status=="0" ){ %>
                                                <span class="badge bg-info">
                                                    Chờ xác nhận
                                                </span>
                                                <% } if(product.order.status=="1" ){%>
                                                    <span class="badge bg-warning ">
                                                        Đang giao hàng
                                                    </span>
                                                    <%}if(product.order.status=="2"){%>
                                                        <span class="badge bg-success ">
                                                            Đã hoàn thành
                                                        </span>
                                                        <%}if(product.order.status=="3"){%>
                                                            <span class="badge bg-danger ">
                                                                Đã hủy
                                                            </span>
                                                            <%}%>
                                        </td>

                                        <%if(status===0){%>
                                            <td>
                                                <h6 class="btn" type="button" title="Xác nhận đơn hàng"
                                                    style="padding: 0;margin: 0;" data-toggle="modal"
                                                    data-target="#xacnhan<%=product.order.id%>">
                                                    Xác nhận
                                                </h6>
                                                <br>
                                                <h6 class="btn" type="button" title="Hủy đơn hàng" data-toggle="modal"
                                                    style="padding: 0;margin: 0;"
                                                    data-target="#huy<%=product.order.id%>">Hủy</h6>
                                                <br>
                                                <h6 class="btn" style="padding: 0;margin: 0;">In hóa đơn</h6>
                                                <!-- model xác nhận -->
                                                <div class="modal fade" id="xacnhan<%=product.order.id%>" tabindex="-1"
                                                    role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                    data-backdrop="static" data-keyboard="false">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content text-center">
                                                            <div class="modal-header text-center  ">
                                                                <h2 class="modal-title w-100">
                                                                    fa</h2>
                                                            </div>
                                                            <div class="modal-body text-center text-dark ">
                                                                <h2 class="modal-title w-100">Cảnh báo</h2>
                                                                <h5>Bạn có chắc muốn xác nhận đơn hàng này không?
                                                                </h5>

                                                                <BR>
                                                                <form class="text-right"
                                                                    action="/order/changeStatus/<%=product.order.id%>"
                                                                    method="post">

                                                                    <a class="btn btn-cancel" data-dismiss="modal"
                                                                        href="#">Hủy
                                                                        bỏ</a>
                                                                    <input type="hidden" value="1" name="status">
                                                                    <button class="btn btn-save" type="submit">Đồng
                                                                        ý</button>
                                                                </form>
                                                                <BR>
                                                            </div>
                                                            <div class="modal-footer">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="huy<%=product.order.id%>" tabindex="-1"
                                                    role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                    data-backdrop="static" data-keyboard="false">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content text-center">
                                                            <div class="modal-header text-center  ">
                                                                <h2 class="modal-title w-100">
                                                                    fa</h2>

                                                            </div>

                                                            <div class="modal-body text-center text-dark ">
                                                                <h2 class="modal-title w-100">Cảnh báo</h2>
                                                                <h5>Bạn có chắc muốn hủy đơn hàng này không?
                                                                </h5>

                                                                <BR>
                                                                <form class="text-right"
                                                                    action="/order/changeStatus/<%=product.order.id%>"
                                                                    method="post">

                                                                    <a class="btn btn-cancel" data-dismiss="modal"
                                                                        href="#">Hủy
                                                                        bỏ</a>
                                                                    <input type="hidden" value="3" name="status">
                                                                    <button class="btn btn-save" type="submit">Đồng
                                                                        ý</button>
                                                                </form>
                                                                <BR>
                                                            </div>
                                                            <div class="modal-footer">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- model chi tiết -->
                                                <div class="modal fade" id="chitietorder<%=product.order.id%>"
                                                    tabindex="-1" role="dialog"
                                                    aria-labelledby="exampleModalCenterTitle" data-backdrop="static"
                                                    data-keyboard="false">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content ">
                                                            <div class="modal-header text-center  ">
                                                                <h2 class="modal-title w-100 text-dark">
                                                                    Chi tiết đơn hàng</h2>
                                                            </div>
                                                            <div class="modal-body  text-dark ">
                                                                <h4 class="modal-title w-100">Mã đơn hàng:
                                                                    <%=product.order.id%>
                                                                </h4>
                                                                <table class="table table-hover table-bordered"
                                                                    id="sampleTable">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Tên sản phẩm</th>
                                                                            <th>Số lượng</th>
                                                                            <th>Màu</th>
                                                                            <th>Phiên bản</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <% product.listproduct.map(function(product){%>
                                                                            <tr>
                                                                                <td>
                                                                                    <%=product.name%>
                                                                                </td>
                                                                                <td>
                                                                                    <%=product.quantity%>
                                                                                </td>
                                                                                <td>
                                                                                    <%=product.color%>
                                                                                </td>
                                                                                <td>
                                                                                    <%=product.config%>
                                                                                </td>
                                                                            </tr>

                                                                            <%})%>
                                                                    </tbody>
                                                                </table>
                                                                <BR>
                                                                <a class="btn btn-cancel" data-dismiss="modal"
                                                                    href="#">Hủy
                                                                    bỏ</a>
                                                                <BR>
                                                            </div>
                                                            <div class="modal-footer">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <%}%>


                                                <!-- model xem chi tiết -->
                                    </tr>
                                    <%})}%>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <!--
          MODAL CHỨC VỤ 
        -->

    <%- include('footer') %>