<%- include('head') %>


    <!-- Aside -->
    <aside class="app-sidebar">
        <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/images/ava.png" width="50px"
                alt="User Image" style="border-radius: 50%; width: 50px; height: 50px;">
            <div>
                <p class="app-sidebar__user-name"><b>Công Vinh</b></p>
                <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
            </div>
        </div>
        <hr>
        <ul class="app-menu">
            <li><a class="app-menu__item haha" href="#"><i class='app-menu__icon bx bx-cart-alt'></i>
                    <span class="app-menu__label">MD VN</span></a></li>
            <li><a class="app-menu__item " href="http://localhost:3000/home"><i
                        class='app-menu__icon bx bx-tachometer'></i><span class="app-menu__label">Bảng điều
                        khiển</span></a></li>
            <li><a class="app-menu__item " href="http://localhost:3000/staff"><i
                        class='app-menu__icon bx bx-id-card'></i> <span class="app-menu__label">Quản lý nhân
                        viên</span></a></li>
            <li><a class="app-menu__item" href="http://localhost:3000/account/listAccount"><i
                        class='app-menu__icon bx bx-user-voice'></i><span class="app-menu__label">Quản lý khách
                        hàng</span></a></li>
            <li><a class="app-menu__item " href="http://localhost:3000/products"><i
                        class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý
                        sản phẩm</span></a>
            </li>
            <li><a class="app-menu__item active" href="/order"><i class='app-menu__icon bx bx-task'></i><span
                        class="app-menu__label">Quản lý đơn hàng</span></a></li>
            <li><a class="app-menu__item" href="http://localhost:3000/InternalManagement"><i
                        class='app-menu__icon bx bx-run'></i><span class="app-menu__label">Quản lý nội bộ
                    </span></a></li>
            <li><a class="app-menu__item" href="http://localhost:3000/salary"><i
                        class='app-menu__icon bx bx-dollar'></i><span class="app-menu__label">Bảng kê
                        lương</span></a></li>
            <li><a class="app-menu__item" href="/voucher"><i class='app-menu__icon bx bx-dollar'></i><span
                        class="app-menu__label">Quản lí Voucher</span></a></li>
            <li><a class="app-menu__item" href="http://localhost:3000/salesTest"><i
                        class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo
                        doanh thu</span></a>
            </li>
        </ul>
    </aside>
    <!-- Main -->
    <main class="app-content">
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href="#"><b>Danh sách đơn hàng</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">

                        <div class="row element-button">
                            <div class="col-sm-2">
                                <% if(status===-1){%>
                                    <a class="btn btn-delete btn-sm active" href="/order" type="button"
                                        style="color:white; text-decoration: underline;" title="Thêm">
                                        Tất cả</a>
                                    <%}else{%>
                                        <a class="btn btn-delete btn-sm active" href="/order" type="button"
                                            style="color:white;" title="Thêm">
                                            Tất cả</a>
                                        <% }%>
                            </div>
                            <div class="col-sm-2">
                                <% if(status===0){%>
                                    <a class="btn btn-info btn-sm active" type="button" href="/order/choxacnhan"
                                        title="Nhập" style="color:white;text-decoration: underline ;"> Chờ
                                        xác nhận</a>
                                    <%}else{%>
                                        <a class="btn btn-info btn-sm active" type="button" href="/order/choxacnhan"
                                            title="Nhập" style="color:white;"> Chờ
                                            xác nhận</a>
                                        <% }%>
                            </div>
                            <div class="col-sm-2">
                                <% if(status===1){%>
                                    <a class="btn btn-warning btn-sm " type="button" href="/order/danggiaohang"
                                        title="Đang giao hàng" style="color:white;text-decoration: underline ;"> Đang
                                        giao
                                        hàng</a>
                                    <%}else{%>
                                        <a class="btn btn-warning btn-sm " type="button" href="/order/danggiaohang"
                                            title="Đang giao hàng" style="color:white;">
                                            Đang giao
                                            hàng</a>
                                        <% }%>
                            </div>
                            <div class="col-sm-2">
                                <% if(status===2){%>
                                    <a class="btn btn-success btn-sm " type="button" href="/order/dahoanthanh"
                                        style="color:white;text-decoration: underline ;" title="Đã oàn thành"> Đã hoàn
                                        thành</a>
                                    <%}else{%>
                                        <a class="btn btn-success btn-sm " type="button" href="/order/dahoanthanh"
                                            title="Đã oàn thành"> Đã hoàn thành</a>
                                        <% }%>
                            </div>
                            <div class="col-sm-2">
                                <% if(status===3){%>
                                    <a class="btn btn-danger btn-sm " type="button" href="/order/dahuy" title="Đã hủy"
                                        style="color:white;text-decoration: underline ;">
                                        Đã hủy</a>
                                    <%}else{%>
                                        <a class="btn btn-danger btn-sm " type="button" href="/order/dahuy"
                                            title="Đã hủy">
                                            Đã hủy</a>
                                        <% }%>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered" id="sampleTable">
                                    <thead>
                                        <tr>
                                            <th>ID đơn hàng</th>
                                            <th>Khách hàng</th>
                                            <th>Đơn hàng</th>
                                            <th>Tổng tiền</th>
                                            <th>Tình trạng</th>
                                            <%if(status===0){%>
                                                <th>Tính năng</th>
                                                <%}%>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(data){ data.map(function(product){%>
                                            <tr>
                                                <td data-toggle="modal" data-target="#chitietorder<%=product.id%>">
                                                    <%=product.id%>
                                                </td>
                                                <td data-toggle="modal" data-target="#chitietorder<%=product.id%>">
                                                    <%=product.Account.name%>
                                                </td>
                                                <td data-toggle="modal" data-target="#chitietorder<%=product.id%>">
                                                    <% product.OrdersProducts.map(function(product){%>
                                                        <span>
                                                            <%=product.Product.name%>
                                                        </span>

                                                        <%})%>
                                                </td>
                                                <td data-toggle="modal" data-target="#chitietorder<%=product.id%>">
                                                    <%=product.total%>
                                                </td>

                                                <td data-toggle="modal" data-target="#chitietorder<%=product.id%>">
                                                    <%if (product.status=="0" ){ %>
                                                        <span class="badge bg-info">
                                                            Chờ xác nhận
                                                        </span>
                                                        <% } if(product.status=="1" ){%>
                                                            <span class="badge bg-warning ">
                                                                Đang giao hàng
                                                            </span>
                                                            <%}if(product.status=="2"){%>
                                                                <span class="badge bg-success ">
                                                                    Đã hoàn thành
                                                                </span>
                                                                <%}if(product.status=="3"){%>
                                                                    <span class="badge bg-danger ">
                                                                        Đã hủy
                                                                    </span>
                                                                    <%}%>
                                                                        <div class="modal fade"
                                                                            id="chitietorder<%=product.id%>"
                                                                            tabindex="-1" role="dialog"
                                                                            aria-labelledby="exampleModalCenterTitle"
                                                                            data-backdrop="static"
                                                                            data-keyboard="false">
                                                                            <div class="modal-dialog modal-dialog-centered"
                                                                                role="document">
                                                                                <div class="modal-content ">
                                                                                    <div
                                                                                        class="modal-header text-center  ">
                                                                                        <h2
                                                                                            class="modal-title w-100 text-dark">
                                                                                            Chi tiết đơn hàng</h2>
                                                                                    </div>
                                                                                    <div class="modal-body  text-dark ">
                                                                                        <h4 class="modal-title w-100">Mã
                                                                                            đơn hàng:
                                                                                            <%=product.id%>
                                                                                        </h4>
                                                                                        <table
                                                                                            class="table table-hover table-bordered"
                                                                                            id="sampleTable">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th>Tên sản phẩm
                                                                                                    </th>
                                                                                                    <th>Số lượng</th>
                                                                                                    <th>Màu</th>
                                                                                                    <th>Phiên bản</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <%
                                                                                                    product.OrdersProducts.map(function(product){%>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <%=product.Product.name%>
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <%=product.quantity%>
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <%
                                                                                                                if(!product.productcolor){%>
                                                                                                                <span>Không</span>
                                                                                                                <%}else{%>
                                                                                                                    <span>
                                                                                                                        <%=product.productcolor.Color.nameColor%>
                                                                                                                    </span>
                                                                                                                    <%}%>
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <%
                                                                                                                if(!product.ProductColorConfig){%>
                                                                                                                <span>Không</span>
                                                                                                                <%}else{%>
                                                                                                                    <span>
                                                                                                                        <%=product.ProductColorConfig.Config.nameConfig%>
                                                                                                                    </span>
                                                                                                                    <%}%>
                                                                                                        </td>
                                                                                                    </tr>

                                                                                                    <%})%>
                                                                                            </tbody>
                                                                                        </table>
                                                                                        <p>Phương thức thanh toán:
                                                                                            <%if(product.PayId==1){%>
                                                                                                <span>Thanh toán khi
                                                                                                    nhận hàng</span>
                                                                                                <%}else{%>
                                                                                                    <span>Thanh toán qua
                                                                                                        VNPay</span>
                                                                                                    <% }%>
                                                                                        </p>
                                                                                        <p>Tổng tiền: <span>
                                                                                                <%=new
                                                                                                    Intl.NumberFormat('en-US').format(product.total)%>
                                                                                            </span>VNĐ</p>
                                                                                        <BR>
                                                                                        <a class="btn btn-cancel"
                                                                                            data-dismiss="modal"
                                                                                            href="#">Hủy
                                                                                            bỏ</a>
                                                                                        <BR>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                </td>

                                                <%if(status===0){%>
                                                    <td>
                                                        <h6 class="btn" type="button" title="Xác nhận đơn hàng"
                                                            style="padding: 0;margin: 0;" data-toggle="modal"
                                                            data-target="#xacnhan<%=product.id%>">
                                                            Xác nhận
                                                        </h6>
                                                        <br>
                                                        <h6 class="btn" type="button" title="Hủy đơn hàng"
                                                            data-toggle="modal" style="padding: 0;margin: 0;"
                                                            data-target="#huy<%=product.id%>">Hủy
                                                        </h6>
                                                        <br>
                                                        <h6 class="btn" style="padding: 0;margin: 0;"
                                                            onclick="printJS('printJS-form<%=product.id%>', 'html')">In
                                                            hóa đơn</h6>
                                                        <!-- model xác nhận -->
                                                        <div class="modal fade" id="xacnhan<%=product.id%>"
                                                            tabindex="-1" role="dialog"
                                                            aria-labelledby="exampleModalCenterTitle"
                                                            data-backdrop="static" data-keyboard="false">
                                                            <div class="modal-dialog modal-dialog-centered"
                                                                role="document">
                                                                <div class="modal-content text-center">
                                                                    <div class="modal-header text-center  ">
                                                                        <h2 class="modal-title w-100">
                                                                            fa</h2>
                                                                    </div>
                                                                    <div class="modal-body text-center text-dark ">
                                                                        <h2 class="modal-title w-100">Cảnh báo</h2>
                                                                        <h5>Bạn có chắc muốn xác nhận đơn hàng này
                                                                            không?
                                                                        </h5>

                                                                        <BR>
                                                                        <form class="text-right"
                                                                            action="/order/changeStatus/<%=product.id%>"
                                                                            method="post">

                                                                            <a class="btn btn-cancel"
                                                                                data-dismiss="modal" href="#">Hủy
                                                                                bỏ</a>
                                                                            <input type="hidden" value="1"
                                                                                name="status">
                                                                            <button class="btn btn-save"
                                                                                type="submit">Đồng
                                                                                ý</button>
                                                                        </form>
                                                                        <BR>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- model xác nhận hủy -->
                                                        <div class="modal fade" id="huy<%=product.id%>" tabindex="-1"
                                                            role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                            data-backdrop="static" data-keyboard="false">
                                                            <div class="modal-dialog modal-dialog-centered"
                                                                role="document">
                                                                <div class="modal-content text-center">
                                                                    <div class="modal-header text-center  ">
                                                                        <h2 class="modal-title w-100">
                                                                            fa</h2>

                                                                    </div>

                                                                    <div class="modal-body text-center text-dark ">
                                                                        <h2 class="modal-title w-100">Cảnh báo</h2>
                                                                        <h5>Bạn có chắc muốn hủy đơn hàng này không?
                                                                        </h5>

                                                                        <BR>
                                                                        <form class="text-right"
                                                                            action="/order/changeStatus/<%=product.id%>"
                                                                            method="post">

                                                                            <a class="btn btn-cancel"
                                                                                data-dismiss="modal" href="#">Hủy
                                                                                bỏ</a>
                                                                            <input type="hidden" value="3"
                                                                                name="status">
                                                                            <button class="btn btn-save"
                                                                                type="submit">Đồng
                                                                                ý</button>
                                                                        </form>
                                                                        <BR>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- model chi tiết -->

                                                        <div class="modal fade row" id="printJS-form<%=product.id%>"
                                                            tabindex="-1" role="dialog"
                                                            aria-labelledby="exampleModalCenterTitle"
                                                            data-backdrop="static" data-keyboard="false">
                                                            <p>Mã đơn hàng:<%=product.id%>
                                                            </p>
                                                            <p>Tên người nhận:<%=product.Address.nameReceiver%>
                                                            </p>
                                                            <p>SĐT:<%=product.Address.phoneReceiver%>
                                                            </p>
                                                            <p>Địa chỉ:<%=product.Address.address%>
                                                            </p>
                                                            <p>Phương thức thanh toán:<%if(product.PayId==1){%>
                                                                    <span>Thanh toán khi nhận hàng</span>
                                                                    <%}else{%>
                                                                        <span>Thanh toán qua VNPay</span>
                                                                        <% }%>
                                                            </p>
                                                            <p>Ghi chú:<%=product.Address.note%>
                                                            </p>
                                                            <p>Nội dung đơn hàng:</p>
                                                            <table class="table table-bordered" id="sampleTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="col-sm-5">Tên sản phẩm</th>
                                                                        <th class="col-sm-2">Số lượng</th>
                                                                        <th class="col-sm-2">Màu</th>
                                                                        <th class="col-sm-3">Phiên bản</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% product.OrdersProducts.map(function(product){%>
                                                                        <tr>
                                                                            <td class="col-sm-5">
                                                                                <%=product.Product.name%>
                                                                            </td>
                                                                            <td class="col-sm-2">
                                                                                <%=product.quantity%>
                                                                            </td>
                                                                            <td class="col-sm-2">
                                                                                <% if(!product.productcolor){%>
                                                                                    <span>Không</span>
                                                                                    <%}else{%>
                                                                                        <span>
                                                                                            <%=product.productcolor.Color.nameColor%>
                                                                                        </span>
                                                                                        <%}%>
                                                                            </td>
                                                                            <td class="col-sm-3">
                                                                                <% if(!product.ProductColorConfig){%>
                                                                                    <span>Không</span>
                                                                                    <%}else{%>
                                                                                        <span>
                                                                                            <%=product.ProductColorConfig.Config.nameConfig%>
                                                                                        </span>
                                                                                        <%}%>
                                                                            </td>
                                                                        </tr>

                                                                        <%})%>
                                                                </tbody>
                                                            </table>
                                                            <p style="font-size: 20px">Tổng tiền:<%=new
                                                                    Intl.NumberFormat('en-US').format(product.total)%>
                                                                    VNĐ
                                                            </p>


                                                        </div>
                                                    </td>
                                                    <%}%>

                                            </tr>
                                            <%})}%>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-10">
                                <div class="dataTables_info" id="sampleTable_info" role="status" aria-live="polite">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="dataTables_paginate paging_simple_numbers" id="sampleTable_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous " id="sampleTable_previous">
                                            <%if(name){%>
                                                <a href="?page=<%=page>1?page-1:1%>&name=<%=search%>"
                                                    aria-controls="sampleTable" data-dt-idx="0" tabindex="0"
                                                    class="page-link">Lùi</a>
                                                <%}else{%>
                                                    <a href="?page=<%=page>1?page-1:1%>" aria-controls="sampleTable"
                                                        data-dt-idx="0" tabindex="0" class="page-link">Lùi</a>
                                        </li>
                                        <%}%>
                                            <%if(totalPage>5){%>
                                                <%if(page>3&&page<=(totalPage-2)){ %>
                                                        <li class="paginate_button page-item ">
                                                            <a href="?page=1" aria-controls="sampleTable"
                                                                data-dt-idx="1" tabindex="0" class="page-link">
                                                                <i class="fas fa-angle-double-left"></i>
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item ">
                                                            <button aria-controls="sampleTable" data-dt-idx="1"
                                                                tabindex="0" class="page-link">
                                                                <i class="fas fa-ellipsis-h"></i>
                                                            </button>
                                                        </li>

                                                        <li class="paginate_button page-item   ">
                                                            <a href="?page=<%=page-2%>" aria-controls="sampleTable"
                                                                data-dt-idx="1" tabindex="0" class="page-link">
                                                                <%=page-2%>
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item   ">
                                                            <a href="?page=<%=page-1%>" aria-controls="sampleTable"
                                                                data-dt-idx="1" tabindex="0" class="page-link">
                                                                <%=page-1%>
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item  active">
                                                            <a href="/order/?page=<%=page%>" aria-controls="sampleTable"
                                                                data-dt-idx="1" tabindex="0" class="page-link">
                                                                <%=page%>
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item   ">
                                                            <a href="?page=<%=page+1%>" aria-controls="sampleTable"
                                                                data-dt-idx="1" tabindex="0" class="page-link">
                                                                <%=page+1%>%>
                                                            </a>
                                                        </li>
                                                        <li class="paginate_button page-item   ">
                                                            <a href="?page=<%=page+2%>" aria-controls="sampleTable"
                                                                data-dt-idx="1" tabindex="0" class="page-link">
                                                                <%=page+2%>%>
                                                            </a>
                                                        </li>
                                                        <% }else if(page<=3){%>
                                                            <% for(i=1;i<=5;i++){ if(name){ %>
                                                                <li
                                                                    class="paginate_button page-item  <%=page ==i?'active':''%> ">
                                                                    <a href="?page=<%=i%>&name=<%=search%>"
                                                                        aria-controls="sampleTable" data-dt-idx="1"
                                                                        tabindex="0" class="page-link">
                                                                        <%=i%>
                                                                    </a>
                                                                </li>
                                                                <%}else{ %>
                                                                    <li
                                                                        class="paginate_button page-item  <%=page ==i?'active':''%> ">
                                                                        <a href="?page=<%=i%>"
                                                                            aria-controls="sampleTable" data-dt-idx="1"
                                                                            tabindex="0" class="page-link">
                                                                            <%=i%>
                                                                        </a>
                                                                    </li>
                                                                    <%} }}else if(page>(totalPage-2)){%>
                                                                        <li class="paginate_button page-item ">
                                                                            <a href="?page=1"
                                                                                aria-controls="sampleTable"
                                                                                data-dt-idx="1" tabindex="0"
                                                                                class="page-link">
                                                                                <i class="fas fa-angle-double-left"></i>
                                                                            </a>
                                                                        </li>
                                                                        <li class="paginate_button page-item ">
                                                                            <button aria-controls="sampleTable"
                                                                                data-dt-idx="1" tabindex="0"
                                                                                class="page-link">
                                                                                <i class="fas fa-ellipsis-h"></i>
                                                                            </button>
                                                                        </li>
                                                                        <% for(i=(totalPage-5);i<=totalPage;i++){
                                                                            if(name){%>
                                                                            <li
                                                                                class="paginate_button page-item  <%=page ==i?'active':''%> ">
                                                                                <a href="?page=<%=i%>&name=<%=search%>"
                                                                                    aria-controls="sampleTable"
                                                                                    data-dt-idx="1" tabindex="0"
                                                                                    class="page-link">
                                                                                    <%=i%>
                                                                                </a>
                                                                            </li>
                                                                            <%}else{ %>
                                                                                <li
                                                                                    class="paginate_button page-item  <%=page ==i?'active':''%> ">
                                                                                    <a href="?page=<%=i%>"
                                                                                        aria-controls="sampleTable"
                                                                                        data-dt-idx="1" tabindex="0"
                                                                                        class="page-link">
                                                                                        <%=i%>
                                                                                    </a>
                                                                                </li>

                                                                                <%}}}%>

                                                                                    <%if(page<(totalPage-2)){%>
                                                                                        <li
                                                                                            class="paginate_button page-item ">
                                                                                            <button
                                                                                                aria-controls="sampleTable"
                                                                                                data-dt-idx="1"
                                                                                                tabindex="0"
                                                                                                class="page-link">
                                                                                                <i
                                                                                                    class="fas fa-ellipsis-h"></i>
                                                                                            </button>
                                                                                        </li>
                                                                                        <li
                                                                                            class="paginate_button page-item ">
                                                                                            <a href="?page=<%=totalPage%>"
                                                                                                aria-controls="sampleTable"
                                                                                                data-dt-idx="1"
                                                                                                tabindex="0"
                                                                                                class="page-link">
                                                                                                <i
                                                                                                    class="fas fa-angle-double-right"></i>
                                                                                            </a>
                                                                                        </li>
                                                                                        <%}}else{%>
                                                                                            <% for(i=1;i<=totalPage;i++){
                                                                                                if(name){ %>
                                                                                                <li
                                                                                                    class="paginate_button page-item  <%=page ==i?'active':''%> ">
                                                                                                    <a href="?page=<%=i%>&name=<%=search%>"
                                                                                                        aria-controls="sampleTable"
                                                                                                        data-dt-idx="1"
                                                                                                        tabindex="0"
                                                                                                        class="page-link">
                                                                                                        <%=i%>
                                                                                                    </a>
                                                                                                </li>
                                                                                                <%}else{ %>
                                                                                                    <li
                                                                                                        class="paginate_button page-item  <%=page ==i?'active':''%> ">
                                                                                                        <a href="?page=<%=i%>"
                                                                                                            aria-controls="sampleTable"
                                                                                                            data-dt-idx="1"
                                                                                                            tabindex="0"
                                                                                                            class="page-link">
                                                                                                            <%=i%>
                                                                                                        </a>
                                                                                                    </li>
                                                                                                    <%} }%>
                                                                                                        <%}%>
                                                                                                            <li class="paginate_button page-item next"
                                                                                                                id="sampleTable_next">
                                                                                                                <%if(name){%>
                                                                                                                    <a href="?page=<%=page<totalPage?page+1:totalPage%>&name=<%=search%>"
                                                                                                                        aria-controls="sampleTable"
                                                                                                                        data-dt-idx="3"
                                                                                                                        tabindex="0"
                                                                                                                        class="page-link">Tiếp</a>
                                                                                                                    <%
                                                                                                                        }else{%>
                                                                                                                        <a href="?page=<%=page<totalPage?page+1:totalPage%>"
                                                                                                                            aria-controls="sampleTable"
                                                                                                                            data-dt-idx="3"
                                                                                                                            tabindex="0"
                                                                                                                            class="page-link">Tiếp</a>
                                                                                                                        <%
                                                                                                                            }%>
                                                                                                            </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </main>



    <!--
          MODAL CHỨC VỤ 
        -->

    <%- include('footer') %>