<%- include('head') %>
    <aside class="app-sidebar">
        <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="<%= user.avatar %>" width="50px"
            alt="User Image" style="border-radius: 50%; width: 50px; height: 50px;">
        <div>
            <p class="app-sidebar__user-name"><b> <%= user.name %> </b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
        <hr>
        <ul class="app-menu">
            <li><a class="app-menu__item haha" ><i class='app-menu__icon bx bx-cart-alt'></i>
                    <span class="app-menu__label">MD VN</span></a></li>
            <li><a class="app-menu__item " href="/home"><i
                        class='app-menu__icon bx bx-tachometer'></i><span class="app-menu__label">Bảng điều
                        khiển</span></a></li>
            <li><a class="app-menu__item " href="/staff"><i
                        class='app-menu__icon bx bx-id-card'></i> <span class="app-menu__label">Quản lý nhân
                        viên</span></a></li>
            <li><a class="app-menu__item" href="/account/listAccount"><i
                        class='app-menu__icon bx bx-user-voice'></i><span class="app-menu__label">Quản lý khách
                        hàng</span></a></li>
            <li><a class="app-menu__item " href="/products"><i
                        class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý
                        sản phẩm</span></a>
            </li>
            <li><a class="app-menu__item" href="/order"><i class='app-menu__icon bx bx-task'></i><span
                        class="app-menu__label">Quản lý đơn hàng</span></a></li>
            <li><a class="app-menu__item" href="/internal"><i
                        class='app-menu__icon bx bx-run'></i><span class="app-menu__label">Quản lý nội bộ
                    </span></a></li>
            <li><a class="app-menu__item" href="/salary"><i
                        class='app-menu__icon bx bx-dollar'></i><span class="app-menu__label">Bảng kê
                        lương</span></a></li>
            <li><a class="app-menu__item " href="/voucher"><i class='app-menu__icon bx bx-dollar'></i><span
                        class="app-menu__label">Quản lí Voucher</span></a></li>
            <li><a class="app-menu__item active" href="/statistical/all"><i
                        class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo
                        doanh thu</span></a>
            </li>
        </ul>
    </aside>
    <main class="app-content">
        <div class="row">
            <div class="col-md-12">
                <div class="app-title">
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><b>Báo cáo doanh thu </b></a></li>
                    </ul>
                    <div id="clock"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon"><i class='icon  bx bxs-user fa-3x'></i>
                    <div class="info">
                        <h4>Tổng Nhân viên</h4>
                        <p><b>
                                <%= totalStaff %> nhân viên
                            </b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small info coloured-icon"><i class='icon bx bxs-purchase-tag-alt fa-3x'></i>
                    <div class="info">
                        <h4>Tổng sản phẩm</h4>
                        <p><b>
                                <%= totalProduct %> sản phẩm
                            </b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small warning coloured-icon"><i class='icon fa-3x bx bxs-shopping-bag-alt'></i>
                    <div class="info">
                        <h4>Tổng đơn hàng</h4>
                        <p><b>
                                <%= totalOrder %> đơn hàng
                            </b></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="widget-small primary coloured-icon"><i class='icon fa-3x bx bxs-chart'></i>
                    <div class="info">
                        <h4>Tổng thu nhập</h4>
                        <p><b>
                                <%= new Intl.NumberFormat('en-US').format(totalRevenue) %> VNĐ
                            </b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-info-circle'></i>
                    <div class="info">
                        <h4>Bị cấm</h4>
                        <p><b>
                                <%= totalProhibitedStaff %> nhân viên
                            </b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="widget-small danger coloured-icon"><i class='icon fa-3x bx bxs-receipt'></i>
                    <div class="info">
                        <h4>Đơn hàng hủy</h4>
                        <p><b>
                                <%= totalOrderCancellation %> đơn hàng
                            </b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div>
                        <h3 class="tile-title">SẢN PHẨM BÁN CHẠY</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá tiền</th>
                                    <th>Danh mục</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% dataSelling.forEach(product=> { %>
                                    <tr>
                                        <td>
                                            <%= product.id %>
                                        </td>
                                        <td>
                                            <%= product.name %>
                                        </td>
                                        <td>
                                            <%= new Intl.NumberFormat('en-US').format(product.price) %> VNĐ
                                        </td>
                                        <td>
                                            <%= product.Category.name %>
                                        </td>
                                    </tr>
                                    <% }); %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div>
                        <h3 class="tile-title">TỔNG ĐƠN HÀNG</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th>ID đơn hàng</th>
                                    <th>Khách hàng</th>
                                    <th>Đơn hàng</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let total=0 %>
                                    <% dataOrder.forEach(order=> { %>
                                        <% let totalQuantity=0 %>
                                            <% order.OrdersProducts.forEach(product=> { %>
                                                <% totalQuantity +=product.quantity %>
                                                    <% }); %>
                                                        <tr>
                                                            <td>
                                                                <%= order.id %>
                                                            </td>
                                                            <td>
                                                                <%= order.Account.name %>
                                                            </td>
                                                            <td>
                                                                <!-- Hiển thị tên sản phẩm -->
                                                                <% order.OrdersProducts.forEach(product=> { %>
                                                                    <%= product.Product.name %>
                                                                        <% }); %>
                                                            </td>
                                                            <td>
                                                                <%= totalQuantity %>
                                                            </td>
                                                            <td>
                                                                <%= new Intl.NumberFormat('en-US').format(order.total)
                                                                    %> VNĐ
                                                            </td>
                                                        </tr>
                                                        <% total +=order.total %>
                                                            <% totalQuantity=0 %>
                                                                <% }); %>

                                                                    <tr>
                                                                        <th colspan="4">Tổng cộng:</th>
                                                                        <td>
                                                                            <%= new
                                                                                Intl.NumberFormat('en-US').format(total)
                                                                                %> VNĐ
                                                                        </td>
                                                                    </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div>
                        <h3 class="tile-title">SẢN PHẨM ĐÃ HẾT</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Ảnh</th>
                                    <th>Số lượng</th>
                                    <th>Tình trạng</th>
                                    <th>Giá tiền</th>
                                    <th>Danh mục</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% dataOutOfStock.forEach(product=> { %>
                                    <tr>
                                        <td>
                                            <%= product.id %>
                                        </td>
                                        <td>
                                            <%= product.name %>
                                        </td>
                                        <td><img src=<%=product.images %> alt="" width="100px;"></td>
                                        <td>
                                            <%= product.quantity %>
                                        </td>
                                        <td><span class="badge bg-danger">Hết hàng</span></td>
                                        <td>
                                            <%= new Intl.NumberFormat('en-US').format(product.price) %> VNĐ
                                        </td>
                                        <td>
                                            <%= product.Category.name %>
                                        </td>

                                    </tr>
                                    <% }); %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div>
                        <h3 class="tile-title">NHÂN VIÊN MỚI</h3>
                    </div>
                    <div class="tile-body">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                                <tr>
                                    <th>Họ và tên</th>
                                    <th>Địa chỉ</th>
                                    <th>Ngày sinh</th>
                                    <th>Giới tính</th>
                                    <th>SĐT</th>
                                    <th>Chức vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% dataStaff.forEach(staff=> { %>
                                    <tr>
                                        <td>
                                            <%= staff.name %>
                                        </td>
                                        <td>
                                            <%= staff.address %>
                                        </td>
                                        <td>
                                            <% if (staff.dateOfBirth) { %>
                                                <% const date=new Date(staff.dateOfBirth); %>
                                                    <%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%=
                                                                date.getFullYear() %>
                                                                <% } else { %>
                                                                    Ngày sinh không khả dụng
                                                                    <% } %>
                                        </td>
                                        <td>
                                            <%= staff.gender %>
                                        </td>
                                        <td>
                                            <%= staff.phone %>
                                        </td>
                                        <td>
                                            <%= staff.position %>
                                        </td>

                                    </tr>
                                    <% }); %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="tile">
                    <h3 class="tile-title">Doanh số hàng tháng</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                        <canvas class="embed-responsive-item" id="myChart" style="width:100%;max-width:600px"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tile">
                    <h3 class="tile-title">THỐNG KÊ DOANH SỐ</h3>
                    <div class="embed-responsive embed-responsive-16by9">
                        <canvas class="embed-responsive-item" id="pieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="js/plugins/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script type="text/javascript">
        async function fetchDataAndRenderChart() {
            try {
                // Gọi API để lấy dữ liệu từ server
                const response = await fetch('/statistical/RevenueInMonth');
                const data = await response.json();
                const labels = [];
                const revenueData = [];
                const anotherDataSet = []; // Dữ liệu cho đường kẻ đỏ mới

                data.data.forEach(item => {
                    labels.push("Tháng "+item.month);
                    revenueData.push(item.revenue);
                    anotherDataSet.push(item.expense);
                });

                updateChart(labels, revenueData, anotherDataSet); 
            } catch (error) {
                console.error('Error fetching data from API:', error);
            }
        }

        function updateChart(labels, data, anotherDataSet) {
            const myChart = new Chart("myChart", {
                type: "line",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Doanh thu thực tế",
                        data: data,
                        borderColor: "green",
                        fill: false
                    },
                    {
                        label: "Chi phí",
                        data: anotherDataSet,
                        borderColor: "red",
                        fill: false
                    }]
                },
                options: {
                    legend: { display: true }
                }
            });
        }

        // Gọi hàm để bắt đầu quá trình
        fetchDataAndRenderChart();



        async function fetchDataAndRenderChartPie() {
            try {
                // Gọi API để lấy dữ liệu từ server
                const response = await fetch('/statistical/chartProductSel');
                const data = await response.json();

                // Trích xuất nhãn và dữ liệu từ phản hồi API
                const labels = []
                const dataValues = []
                data.data.forEach(item => {
                    labels.push(item.name);
                    dataValues.push(item.percentage);
                });
                console.log(data)

                // Tạo biểu đồ
                const pieChart = new Chart("pieChart", {
                    type: "pie",
                    data: {
                        labels: labels,
                        datasets: [{
                            data: dataValues,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.8)',
                                'rgba(54, 162, 235, 0.8)',
                                'rgba(255, 206, 86, 0.8)',
                                'rgba(75, 192, 192, 0.8)',
                                'rgba(153, 102, 255, 0.8)',
                                'rgba(255, 159, 64, 0.8)',
                                'rgba(0, 255, 0, 0.8)',
                                'rgba(255, 0, 0, 0.8)',
                                'rgba(0, 0, 255, 0.8)',
                                'rgba(255, 0, 255, 0.8)',
                                'rgba(0, 255, 255, 0.8)',
                                'rgba(128, 0, 128, 0.8)',
                                'rgba(128, 128, 0, 0.8)',
                                'rgba(0, 128, 128, 0.8)',
                                'rgba(128, 0, 0, 0.8)',
                                'rgba(0, 128, 0, 0.8)'
                            ]
                        }]
                    },
                    options: {
                        legend: { display: true },
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var dataset = data.datasets[tooltipItem.datasetIndex];
                                    var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                        return previousValue + currentValue;
                                    });
                                    var currentValue = dataset.data[tooltipItem.index];
                                    var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                                    return percentage + "%";
                                }
                            }
                        }
                    }
                });
            } catch (error) {
                console.error('Error fetching data from API:', error);
            }
        }

        // Gọi hàm để bắt đầu quá trình
        fetchDataAndRenderChartPie();


    </script>
    <!-- Google analytics script-->
    <script type="text/javascript">
        if (document.location.hostname == 'pratikborsadiya.in') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-72504830-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
    </body>

    </html>