<%- include('head') %>
<aside class="app-sidebar">
  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/images/ava.png" width="50px"
          alt="User Image" style="border-radius: 50%; width: 50px; height: 50px;">
      <div>
          <p class="app-sidebar__user-name"><b>Công Vinh</b></p>
          <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
      </div>
  </div>
  <hr>
  <ul class="app-menu">
      <li><a class="app-menu__item haha" href="#"><i class='app-menu__icon bx bx-cart-alt'></i>
              <span class="app-menu__label">MD VN</span></a></li>
      <li><a class="app-menu__item " href="http://localhost:3000/home"><i
                  class='app-menu__icon bx bx-tachometer'></i><span class="app-menu__label">Bảng điều
                  khiển</span></a></li>
      <li><a class="app-menu__item active" href="http://localhost:3000/staff"><i
                  class='app-menu__icon bx bx-id-card'></i> <span class="app-menu__label">Quản lý nhân
                  viên</span></a></li>
      <li><a class="app-menu__item" href="http://localhost:3000/account/listAccount"><i
                  class='app-menu__icon bx bx-user-voice'></i><span class="app-menu__label">Quản lý khách
                  hàng</span></a></li>
      <li><a class="app-menu__item " href="http://localhost:3000/products"><i
                  class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý
                  sản phẩm</span></a>
      </li>
      <li><a class="app-menu__item" href="/order"><i class='app-menu__icon bx bx-task'></i><span
                  class="app-menu__label">Quản lý đơn hàng</span></a></li>
      <li><a class="app-menu__item" href="http://localhost:3000/InternalManagement"><i
                  class='app-menu__icon bx bx-run'></i><span class="app-menu__label">Quản lý nội bộ
              </span></a></li>
      <li><a class="app-menu__item" href="http://localhost:3000/salary"><i
                  class='app-menu__icon bx bx-dollar'></i><span class="app-menu__label">Bảng kê
                  lương</span></a></li>
      <li><a class="app-menu__item " href="/voucher"><i class='app-menu__icon bx bx-dollar'></i><span
                  class="app-menu__label">Quản lí Voucher</span></a></li>
      <li><a class="app-menu__item" href="http://localhost:3000/salesTest"><i
                  class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo
                  doanh thu</span></a>
      </li>
  </ul>
</aside>

  <body onload="time()" class="app sidebar-mini rtl">

    <main class="app-content">
      <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item active"><a href="#"><b>Danh sách nhân viên</b></a></li>
        </ul>
        <div id="clock"></div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">

              <div class="row element-button">
                <div class="col-sm-2">

                  <a class="btn btn-add btn-sm" href="http://localhost:3000/form-addStaff" title="Thêm"><i
                      class="fas fa-plus"></i>
                    Thêm nhân viên</a>
                </div>
                <div class="col-sm-2">
                  <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                      class="fas fa-trash-alt"></i> Xóa tất cả </a>
                </div>
              </div>
              <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="sampleTable_length"><label>Hiện <select name="sampleTable_length"
                          aria-controls="sampleTable" class="form-control form-control-sm">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select> danh mục</label></div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <form action="/api/search" method="post" role="form">
                      <div id="sampleTable_filter" class="dataTables_filter">
                        <label>Tìm kiếm:
                          <input type="search" class="form-control form-control-sm" placeholder="Nhập tên nhân viên"
                            name="name" aria-controls="sampleTable" value="">
                          <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-search"></i></button>
                        </label>
                      </div>
                    </form>
                    
                  </div>

                </div>
                <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0"
                  border="0" id="sampleTable">
                  <thead>
                    <tr>
                      <th width="10"><input type="checkbox" id="all"></th>
                      <th>ID nhân viên</th>
                      <th width="150">Họ và tên</th>
                      <th width="20">Ảnh thẻ</th>
                      <th width="300">Địa chỉ</th>
                      <th>Ngày sinh</th>
                      <th>Giới tính</th>
                      <th>SĐT</th>
                      <th>Chức vụ</th>
                      <th width="100">Tính năng</th>
                    </tr>
                  </thead>
                  <tbody>

                    <% staffs.forEach(staff=> { %>
                      <tr>
                        <td width="10"><input type="checkbox" name="check1" value="<%= staff.id %>"></td>
                        <td>#<%= staff.id %>
                        </td>
                        <td>
                          <%= staff.name %>
                        </td>
                        <td><img class="img-card-person" src="<%= staff.avatar %>" alt=""></td>
                        <td>
                          <%= staff.address %>
                        </td>
                        <td>
                          <% if (staff.dateOfBirth) { %>
                            <% const date=new Date(staff.dateOfBirth); %>
                              <%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %>
                                    <% } else { %>
                                      Ngày sinh không khả dụng
                                      <% } %>
                        </td>

                        <td>
                          <%= staff.gender %>
                        </td>
                        <td>
                          <%= staff.phone %>
                        </td>
                        <td>
                          <%= staff.position %>
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm trash" type="button" title="Xóa" data-toggle="modal"
                            data-target="#<%=staff.id%>"><i class="fas fa-trash-alt"></i>
                          </button>
                          <!-- model xóa -->
                          <div class="modal fade" id="<%=staff.id%>" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content text-center">
                                <div class="modal-header text-center  ">
                                  <h2 class="modal-title w-100">
                                    fa</h2>
                                </div>
                                <div class="modal-body text-center text-dark ">
                                  <h2 class="modal-title w-100">Cảnh báo</h2>
                                  <h5>Bạn có chắc muốn xóa sản phẩm này không?
                                  </h5>
                                  <BR>
                                  <form class="text-right" action="/staff/<%=staff.id%>" method="post">
                                    <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy
                                      bỏ</a>
                                    <input type="hidden" value="<%=staff.id%>" name="<%=staff.id%>">
                                    <button class="btn btn-save" type="submit">Đồng ý</button>
                                  </form>
                                  <BR>
                                </div>
                                <div class="modal-footer">
                                </div>
                              </div>
                            </div>
                          </div>
                          <a class="btn btn-primary btn-sm edit" type="button" title="Sửa"
                            href="/updateStaff/<%=staff.id%>"><i class="fas fa-edit"></i></a>
                        </td>
                      </tr>
                      <% }); %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="src/jquery.table2excel.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>
    <!-- Thêm thư viện SweetAlert -->


    <script>



      //Thời Gian
      function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
          dd = '0' + dd
        }
        if (mm < 10) {
          mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
          '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
          if (i < 10) {
            i = "0" + i;
          }
          return i;
        }
      }
      //In dữ liệu
      var myApp = new function () {
        this.printTable = function () {
          var tab = document.getElementById('sampleTable');
          var win = window.open('', '', 'height=700,width=700');
          win.document.write(tab.outerHTML);
          win.document.close();
          win.print();
        }
      }
      //     //Sao chép dữ liệu
      //     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

      // copyTextareaBtn.addEventListener('click', function(event) {
      //   var copyTextarea = document.querySelector('.js-copytextarea');
      //   copyTextarea.focus();
      //   copyTextarea.select();

      //   try {
      //     var successful = document.execCommand('copy');
      //     var msg = successful ? 'successful' : 'unsuccessful';
      //     console.log('Copying text command was ' + msg);
      //   } catch (err) {
      //     console.log('Oops, unable to copy');
      //   }
      // });


      //Modal
      $("#show-emp").on("click", function () {
        $("#ModalUP").modal({ backdrop: false, keyboard: false })
      });
    </script>
  </body>
  <%- include('footer') %>

    </html>