<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cập nhật nhân viên | Quản trị Admin</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <!-- or -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
  <script>

    function readURL(input, thumbimage) {
      if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#thumbimage").attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
      else { // Sử dụng cho IE
        $("#thumbimage").attr('src', input.value);

      }
      $("#thumbimage").show();
      $('.filename').text($("#uploadfile").val());
      $('.Choicefile').css('background', '#14142B');
      $('.Choicefile').css('cursor', 'default');
      $(".removeimg").show();
      $(".Choicefile").unbind('click');

    }
    $(document).ready(function () {
      $(".Choicefile").bind('click', function () {
        console.log('Choicefile Clicked');

        $("#uploadfile").click();

      });
      $(".removeimg").click(function () {
        $("#thumbimage").attr('src', '').hide();
        $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
        $(".removeimg").hide();
        $(".Choicefile").bind('click', function () {
          $("#uploadfile").click();
        });
        $('.Choicefile').css('background', '#14142B');
        $('.Choicefile').css('cursor', 'pointer');
        $(".filename").text("");
      });
    })
  </script>
</head>

<body class="app sidebar-mini rtl">
  <style>
    .Choicefile {
      display: block;
      background: #14142B;
      border: 1px solid #fff;
      color: #fff;
      width: 150px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      padding: 5px 0px;
      border-radius: 5px;
      font-weight: 500;
      align-items: center;
      justify-content: center;
    }

    .Choicefile:hover {
      text-decoration: none;
      color: white;
    }

    #uploadfile,
    .removeimg {
      display: none;
    }

    #thumbbox {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
    }

    .removeimg {
      height: 25px;
      position: absolute;
      background-repeat: no-repeat;
      top: 5px;
      left: 5px;
      background-size: 25px;
      width: 25px;
      /* border: 3px solid red; */
      border-radius: 50%;

    }

    .removeimg::before {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      content: '';
      border: 1px solid red;
      background: red;
      text-align: center;
      display: block;
      margin-top: 11px;
      transform: rotate(45deg);
    }

    .removeimg::after {
      /* color: #FFF; */
      /* background-color: #DC403B; */
      content: '';
      background: red;
      border: 1px solid red;
      text-align: center;
      display: block;
      transform: rotate(-45deg);
      margin-top: -2px;
    }
  </style>
  <%- include('head') %>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/images/ava.png" width="50px"
          alt="User Image" style="border-radius: 50%; width: 50px; height: 50px;">
        <div>
          <p class="app-sidebar__user-name"><b>Công Vinh</b></p>
          <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
      </div>
      <hr>
      <ul class="app-menu">
        <li><a class="app-menu__item haha" href="#"><i class='app-menu__icon bx bx-cart-alt'></i>
            <span class="app-menu__label">MD VN</span></a></li>
        <li><a class="app-menu__item " href="http://localhost:3000/home"><i
              class='app-menu__icon bx bx-tachometer'></i><span class="app-menu__label">Bảng điều khiển</span></a></li>
        <li><a class="app-menu__item active" href="http://localhost:3000/staff"><i
              class='app-menu__icon bx bx-id-card'></i> <span class="app-menu__label">Quản lý nhân viên</span></a></li>
        <li><a class="app-menu__item" href="http://localhost:3000/account/listAccount"><i
              class='app-menu__icon bx bx-user-voice'></i><span class="app-menu__label">Quản lý khách hàng</span></a>
        </li>
        <li><a class="app-menu__item" href="http://localhost:3000/products"><i
              class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý sản
              phẩm</span></a>
        </li>
        <li><a class="app-menu__item" href="#"><i class='app-menu__icon bx bx-task'></i><span
              class="app-menu__label">Quản
              lý đơn hàng</span></a></li>
        <li><a class="app-menu__item" href="http://localhost:3000/InternalManagement"><i
              class='app-menu__icon bx bx-run'></i><span class="app-menu__label">Quản lý nội bộ
            </span></a></li>
        <li><a class="app-menu__item" href="http://localhost:3000/salary"><i
              class='app-menu__icon bx bx-dollar'></i><span class="app-menu__label">Bảng kê lương</span></a></li>
        <li><a class="app-menu__item" href="http://localhost:3000/salesTest"><i
              class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo doanh
              thu</span></a>
        </li>
      </ul>


    </aside>
    <main class="app-content">
      <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item">Danh sách nhân viên</li>
          <li class="breadcrumb-item"><a href="#">Cập nhật</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="tile">

            <h3 class="tile-title">Cập nhật nhân viên</h3>
            <div class="tile-body">

              <form class="row" action="/staffUpdate/<%=staff.id%>" method="post" enctype="multipart/form-data">

                <div class="form-group col-md-4">
                  <label class="control-label">Họ và tên</label>
                  <input class="form-control" name="name" type="text" value="<%=staff.name%>" required>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">Địa chỉ email</label>
                  <input class="form-control" name="email" type="email" value="<%=staff.email%>" required>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">Địa chỉ thường trú</label>
                  <input class="form-control" name="address" type="text" value="<%=staff.address%>" required>
                </div>
                <div class="form-group  col-md-4">
                  <label class="control-label">Số điện thoại</label>
                  <input class="form-control" type="number" name="phone" value="<%=staff.phone%>" required>
                </div>
                <div class="form-group col-md-4">
                  <label class="control-label">Ngày sinh</label>
                  <input class="form-control" type="date" value="<%=staff.dateOfBirth%>" name="dateOfBirth" id="dateOfBirthInput" required>
              </div>


                <div class="form-group col-md-3">
                  <label class="control-label">Giới tính</label>
                  <select class="form-control" name="gender" id="gender" required>
                    <option value="">-- Chọn giới tính --</option>
                    <option value="Nam" <%=staff.gender==='Nam' ? 'selected' : '' %>>Nam</option>
                    <option value="Nữ" <%=staff.gender==='Nữ' ? 'selected' : '' %>>Nữ</option>
                  </select>
                </div>
                <div class="form-group  col-md-3">
                  <label for="exampleSelect1" class="control-label">Chức vụ</label>
                  <select class=" form-control" id="position" name="position" required>
                    <option value="">-- Chọn chức vụ --</option>
                    <option value="Bán hàng" <%=staff.position==='Bán hàng' ? 'selected' : '' %>>Bán hàng</option>
                    <option value="Tư vấn" <%=staff.position==='Tư vấn' ? 'selected' : '' %>>Tư vấn</option>
                    <option value="Dịch vụ" <%=staff.position==='Dịch vụ' ? 'selected' : '' %>>Dịch vụ</option>
                    <option value="Thu Ngân" <%=staff.position==='Thu Ngân' ? 'selected' : '' %>>Thu Ngân</option>
                    <option value="Quản kho" <%=staff.position==='Quản kho' ? 'selected' : '' %>>Quản kho</option>
                    <option value="Bảo trì" <%=staff.position==='Bảo trì' ? 'selected' : '' %>>Bảo trì</option>
                    <option value="Kiểm hàng" <%=staff.position==='Kiểm hàng' ? 'selected' : '' %>>Kiểm hàng</option>
                    <option value="Bảo vệ" <%=staff.position==='Bảo vệ' ? 'selected' : '' %>>Bảo vệ</option>
                    <option value="Tạp vụ" <%=staff.position==='Tạp vụ' ? 'selected' : '' %>>Tạp vụ</option>
                </select>
                </div>
                <div class="form-group col-md-3">
                  <label class="control-label">Bằng cấp</label>
                  <select class="form-control" selected="<%=staff.degree%>" id="degree" name="degree" required>
                    <option value="">-- Chọn bằng cấp --</option>
                    <option value="Tốt nghiệp đại học" <%=staff.degree==='Tốt nghiệp đại học' ? 'selected' : '' %>>Tốt nghiệp Đại Học</option>
                    <option value="Tốt nghiệp cao đẳng" <%=staff.degree==='Tốt nghiệp cao đẳng' ? 'selected' : '' %>>Tốt nghiệp Cao Đẳng</option>
                    <option value="Tốt nghiệp phổ thông" <%=staff.degree==='Tốt nghiệp phổ thông' ? 'selected' : '' %>>Tốt nghiệp Phổ Thông</option>
                    <option value="Chưa tốt nghiệp" <%=staff.degree==='Chưa tốt nghiệp' ? 'selected' : '' %>>Chưa tốt nghiệp</option>
                    <option value="Không bằng cấp" <%=staff.degree==='Không bằng cấp' ? 'selected' : '' %>>Không bằng cấp</option>
                </select>
                </div>
                <div class="form-group col-md-12">
                  <label class="control-label">Ảnh 3x4 nhân viên</label>
                  <div id="myfileupload">
                    <input type="file" id="uploadfile" name="avatar" value="<%=staff.avatar%>"
                      onchange="readURL(this);" required/>
                  </div>
                  <div id="thumbbox">
                    <img height="300" width="300" alt="Thumb image" id="thumbimage" src="<%=staff.avatar%>"
                       />
                    <a class="removeimg" href="javascript:"></a>
                  </div>
                  <div id="boxchoice">
                    <a href="javascript:" class="Choicefile"><i class='bx bx-upload'></i></a>
                    <p style="clear:both"></p>
                  </div>

                </div>

                <button class="btn btn-save" type="submit">Lưu lại</button>
                <a class="btn btn-cancel" href="/staff">Hủy bỏ</a>
                
              </form>
            </div>
            
          </div>

    </main>


    <!--
  MODAL
-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <div class="row">
              <div class="form-group  col-md-12">
                <span class="thong-tin-thanh-toan">
                  <h5>Tạo chức vụ mới</h5>
                </span>
              </div>
              <div class="form-group col-md-12">
                <label class="control-label">Nhập tên chức vụ mới</label>
                <input class="form-control" type="text" required>
              </div>
            </div>
            <BR>
            <button class="btn btn-save" type="button">Lưu lại</button>
            <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
            <BR>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <!--
  MODAL
-->

<script>
  // Chuyển đổi định dạng ngày tháng năm
  var dateOfBirth = '<%=staff.dateOfBirth%>';
  var formattedDate = new Date(dateOfBirth).toISOString().split('T')[0];
  document.getElementById('dateOfBirthInput').value = formattedDate;
</script>
    <!-- Essential javascripts for application to work-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="js/plugins/pace.min.js"></script>

</body>

<%- include('footer') %>